# Build
dist/

# Astro
.astro/

# Node
node_modules/

# Bun
.bun/

# Environment
*.local
.env
.env.*

# Logs
*.log

# Editor / OS
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Project-specific
.envbuilder.tmp/
lost+found/
inspiration/
